<ng-container *ngIf="workoutsList.length >0 ; else noWorkout">
  <p [ngStyle]="{color: getColor()}">Ćwiczenia do wykonania : {{workoutsList.length}}</p>
  <ul>
      <li *ngFor="let workout of workoutsList ; let odd = odd" [ngClass]="{'odd-li' : odd===true ,
      'last-li' : workoutsList.length === 1}">
        {{workout}}
        <button (click) = "remove(workout)">Usuń</button>
        <button (click) = "save(workout)">Zrobione</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noWorkout>
      <p>Brak cwiczen do wykonania</p>
  </ng-template>

