<!--The content below is only a placeholder and can be replaced.-->
<div class = "container">
    <div>
     <app-addworkout (emitWorkout)="add($event)"></app-addworkout>
    </div>

    <div class="container">
      <div>
          <app-todoworkout [workoutsList]="workoutsList" (emitSave)="save($event)"
          (emitRemove)="remove($event)"></app-todoworkout>
      </div>
    </div>

    <div class = "container">
      <app-savetask [workoutsaveList]="workoutsaveList"></app-savetask>
    </div>
  </div>


